.sign-in-card {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px;
    height: 100px;
    margin-top: 50px;
}

.sign-in-card p {
    text-align: center;
}