.top-bar-login{
    display: flex;
    align-items: center;
    column-gap: 10px;

}

.logo {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
}

.toggle-menu{
    display: none;
}
.toolbar {
    margin-right: 13px;
}

@media  (min-width:300px) and (max-width: 900px){
    .user-welcome, .sign-out{
        display: none;
    }
    .toggle-menu{
        display: inline-block;
    }
    

    .header  {
        display: none;
    }
    .toolbar{
        padding: 5px 10px 5px 10px;
        justify-content: space-between;
        margin-right: 0;
    }
   
}
