.upload-medida-card {
    width: 40vw;
    padding: 30px;
    height: 50vh;
    
}

.upload-medida-card form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.dropzone {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #c4c2c2;
    border-radius: 5px;
    border-width: 1px;

}