.upload-medida-card {
    width: 30vw;
    padding: 30px 25px 25px 25px;
    height: auto;
    
}

.upload-medida-card form{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.dropzone {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #c4c2c2;
    border-radius: 5px;
    border-width: 1px;
    color: gray;

}

.form_options{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    column-gap: 10px;
}

.file {
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    margin: 20px;

}

.delete-file{
    min-width: 20px;
    max-height: 30px;
}
