.table-card {
    width: 80vw;
}

.verificar-medida-modal form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: 10px;
  
}

.no_asignado {
    font-style: italic;
    color: darkgray;
}

.edit_icon {
 
    color: rgb(75, 75, 75);
}

@media  (min-width:300px) and (max-width: 900px){
    .table-card {
        width: 90vw;
    }
}