h1, h2, h3, h4, h5, p {
    font-family: Roboto;
    font-weight: 400;
}



.App {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

body {
    margin: 0 !important;
    font-family: 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  html {
    background-color: #fafafa;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  root a, root a:active, root a:visited {
    color: white!important;
    text-decoration: none;
  }
  .menu-button:visited  {
    color: white!important;
  }
  .menu-button:active {
    color: white!important;
  }